name: Auto Release
on:
  push:
    branches: [main]
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          for hypervisor in virtualbox vmware; do
            bash compile.sh "$hypervisor" || {
              echo "Compilation failed."
              exit 1
            }

            VM_CLI_VERSION="$(awk -F= '/VM_CLI_VERSION/ {gsub(/"/, "", $2); print $2; exit}' dist/$hypervisor/vm-cli)"
            if [ -z "$VM_CLI_VERSION" ]; then
              echo "Version not found in vm-cli file."
              exit 1
            fi

            tar -czf vm-cli.$hypervisor.tar.gz -C dist/$hypervisor vm-cli || {
              echo "Failed to create tar.gz file."
              exit 2
            }
          done

          # Delete all previous releases.
          while read -r tag; do
            [ -n "$tag" ] && gh release delete "v$VM_CLI_VERSION" --cleanup-tag --yes >/dev/null 2>&1 || true
          done < <(gh release list --json tagName | jq -r '.[].tagName' 2>/dev/null)

          # Create a new release.
          compiled_at="$(date -u +'%Y-%m-%d %H:%M:%S %Z')"
          gh release create "v$VM_CLI_VERSION" vm-cli.virtualbox.tar.gz vm-cli.vmware.tar.gz--title "Release v$VM_CLI_VERSION" --notes "Latest version compiled at $compiled_at" --latest
